<div class="comment">
	{% for comment in comment_list %}
	<div class="each_comment">
		<h3 class="name">{{ comment.author_name }}</h3>
		<span class="date">{{ comment.date }}</span>
		<p>{{ comment.content }}</p>
	</div>
	{% endfor %}
	<form method="post">
        {{ form.hidden_tag() }}
        {% if not current_user.is_authenticated %}
            {{ form.username(class="text", placeholder="昵称") }}
        {% endif %}
        {{ form.comments(class="textarea", rows="4", cols="50", type="textarea", placeholder="你的看法？") }}
        {{ form.submit(class="button", value="评论") }}
    </form>
</div>
