.comment{
	.each_comment{
		margin: 0px 10px 30px 0px;
		color:  $date_gray;
		.name{
			color: $light_red;
			line-height: 36px;
			display: inline-block;
		}
		.date{
			float: right;
			line-height: 36px;
			color:$input;
		}
		p{
			padding-right:90px;
			
			line-height: 20px;
		}
	}
	input , .textarea{
		
		color: $input;
		line-height: 28px;
		display: block;
		margin-bottom: 15px;
		border-radius: 2px;
	}
	.text{
		width: 190px;
	}
	.text, .textarea{
		box-shadow: 0 0 1px $input;
		border: solid 1px $input;
		
	} 
	.button{
		background: $deep_orange;
		font-size: 14px;
		color: $white;
		padding: 0px 10px;
		font-weight: bold;
		cursor: pointer;
	}
}