//class.scss

.margin_auto{
	margin: 0 auto;
}
.space{
	font-size: 0rem;
    -webkit-text-size-adjust:none;
}
.va_item{  
	display: inline-block;
	vertical-align: middle;
}
.tc{
	text-align: center;
}
.cp{
	cursor:pointer;
}