{% extends "pages/blog_base.html" %}
{% block title %}博客{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/blog/static/css/index.css">
{% endblock %}

{% block content %}
<div class="right_blog">
    <div class="post_conte">
        {% include "components/post/blog_content.html" %}
        {% include "components/post/comment.html" %}
    </div>
</div>
<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js">
</script>
<script src="/blog/static/js/main.js">
</script>
{% endblock %}


