<div class="info margin_auto">
	<div class="head margin_auto">
		<img src="{{ user.avatar }}" class="avatar">
	</div>
	<div class="name">
		<span>{{ user.name }}</span>
	</div>
	<div class="small-circle margin_auto"></div>
	<div class="user-info margin_auto">
		<p>{{ user.produce }}</p>
	</div>
	<div class="link margin_auto space">
			<li class="front img va_item"></li>
			<li class="pic-1 img va_item">
                <a href={{ current_user.personal_blog }}></a>
			</li>
			<li class="pic-2 img va_item">
                <a href={{ current_user.github }}></a>
			</li>
			<li class="pic-3 img va_item">
                <a href={{ current_user.flickr }}></a>
			</li>
			<li class="pic-4 img va_item">
                <a href={{ current_user.weibo }}></a>
			</li>
			<li class="pic-5 img va_item">
                <a href={{ current_user.zhihu }}></a>
			</li>
			<li class="end img va_item"></li>
	</div>
</div>
