<div class="list margin_auto">
	<div class="left">
		<div class="book topic">
			<a href="{{ url_for('books.home') }}"><span>木犀图书</span></a>
		</div>
		{% for book in books %}
		<div class="td">
			<div class="title">
				<a href="#" class="title-link">
					《{{ book.name }}》
				</a>
			</div>
			<div class="date">归还日：{{ book.end[0:4]+'-'+book.end[4:6]+'-'+book.end[6:] }}</div>
			<form action="" method="POST" accept-charset="utf-8">
				<input type="submit" class="btn-return hide" value="{{ book.id }}"></input>
				<button type="" class="btn-return">还书</button>
			</form>
		</div>
		{% endfor %}
	</div>
	<div class="middle">
		<div class="share margin_auto topic">
			<a href="{{ url_for('shares.index') }}"><span>分享链接</span></a>
		</div>
		{% for share in shares %}
			<div class="title">
				<a href="#" class="title-link">{{ share.title }}
				</a>
			</div>
			<div class="comments">
				<div class="comments_lists">
					{{ share.author }}//{{ comments.contents }}
				</div>
				<div class="comments_lists">
					{{ share.author }}//{{ comments.contents }}
				</div>
				<div class="comments_lists">
					{{ share.author }}//{{ comments.contents }}
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="right">
		<div class="blog topic">
			<span>博客链接</span>
		</div>
		<ol class="lists">
			{% for blogs in blogs %}
			<li>
				<a href="{{ blogs.address }}" class="address-link">
					{{ blogs.address }}
				</a>
			</li>
			{% endfor %}
		</ol>
	</div>
</div>
