<div class="list margin_auto">
	<div class="left">
		<div class="book topic">
			<span>木犀图书</span>
		</div>
		{% for lists in books%}
		<div class="td">
			<div class="title">
				<a href="#" class="title-link">
					《{{ lists.title }}》
				</a>
			</div>
			<div class="date">归还日：{{ lists.date }}</div>
			<button id="btn-return">归还</button>
		</div>
		{% endfor %}
	</div>
	<div class="middle">
		<div class="share margin_auto topic">
			<span>分享链接</span>
		</div>
		{% for comments in comments %}
			<div class="title">
				<a href="#" class="title-link">{{ comments.topic }}
				</a>
			</div>
			<div class="comments">
				<div class="comments_lists">
					{{ comments.author }}//{{ comments.contents }}
				</div>
				<div class="comments_lists">
					{{ comments.author }}//{{ comments.contents }}
				</div>
				<div class="comments_lists">
					{{ comments.author }}//{{ comments.contents }}
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="right">
		<div class="blog topic">
			<span>博客链接</span>
		</div>
		<ol class="lists">
			{% for blogs in blogs %}
			<li>
				<a href="{{ blogs.address }}" class="address-link">
					{{ blogs.address }}
				</a>
			</li>
			{% endfor %}
		</ol>
	</div>
</div>
