.register {
  height: 30px;
  font-size: 14px;
  position: absolute;
  right: 0px;
  top: 0px; }

.register button {
  height: 30px;
  width: 50px;
  color: #959595;
  background: #dcdcdc;
  margin: 0px -2px; }

.register button a {
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: inherit; }

.register button:hover {
  color: #fff;
  background: #ffc162; }

.top {
  position: fixed;
  bottom: 20px;
  right: 40px;
  height: 56px;
  width: 56px;
  background: #cbcbcb; }
  .top img {
    vertical-align: middle;
    text-align: center; }

.left_box {
  width: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #fff; }
  .left_box .logo {
    margin: 15px 44px; }
  .left_box p {
    height: 70px;
    text-align: left;
    font-size: 16px;
    position: relative;
    color: #545866; }
  .left_box .home_img {
    top: 9px;
    left: 7px;
    width: 39px; }
  .left_box .blog_img {
    top: 10px;
    left: 6px;
    width: 41px; }
  .left_box .about_img {
    top: 19px;
    left: 11px;
    width: 31px;
    height: 31px; }
  .left_box p svg {
    float: left;
    position: absolute;
    fill: currentColor; }
  .left_box p .tag {
    display: inline-block;
    line-height: 70px;
    color: inherit;
    margin: 2px 74px 0 53px; }
  .left_box p:hover {
    background: #69cad3;
    color: #fff; }
  .left_box .search {
    margin: 100px 70px;
    height: 40px;
    width: 40px;
    fill: #999; }
  .left_box .search:hover {
    fill: #272727; }

.middle_box {
  width: 600px;
  float: left; }
  .middle_box .blog {
    background: #fff;
    width: 600px;
    height: 209px;
    margin: 0px 0px 45px 0;
    position: relative; }
    .middle_box .blog .conte {
      width: 390px;
      padding: 15px 22px 15px 0px; }
      .middle_box .blog .conte .des {
        height: 45px;
        width: 100%;
        position: relative; }
        .middle_box .blog .conte .des img {
          height: 40px;
          width: 40px;
          float: left;
          position: relative; }
      .middle_box .blog .conte .title {
        padding: 0 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      .middle_box .blog .conte .title a {
        line-height: 22px;
        font-size: 20px;
        color: #545866; }
      .middle_box .blog .conte .title a:hover {
        color: #ffc162; }
      .middle_box .blog .conte .name,
      .middle_box .blog .conte .date {
        color: #68696b;
        line-height: 23px;
        font-size: 12px;
        padding: 0px 10px; }
      .middle_box .blog .conte .side_line {
        width: 40px;
        float: left; }
      .middle_box .blog .conte .side_line svg {
        height: 20px;
        width: 20px;
        margin: 9px 10px;
        fill: #aaa;
        cursor: pointer; }
      .middle_box .blog .conte .side_line svg:visited {
        fill: #f29a76; }
      .middle_box .blog .conte .side_line svg:hover {
        fill: #666; }
      .middle_box .blog .conte .side_line p {
        text-align: center;
        font-size: 10px; }
      .middle_box .blog .conte .content {
        font-size: 12px;
        line-height: 22px;
        color: #68696b;
        padding: 0px 26px 8px 8px;
        overflow: hidden;
        height: 100px; }
      .middle_box .blog .conte .foot_tag {
        margin-left: 40px; }
      .middle_box .blog .conte .foot_tag span {
        background: #ffc162;
        color: #fff;
        font-size: 12px;
        margin: 10px 20px 0px 0px;
        line-height: 16px;
        display: inline-block;
        border-radius: 2px;
        padding: 0 5px; }
    .middle_box .blog .side {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 210px;
      height: 209px; }
  .middle_box .blog:hover {
    box-shadow: 2px 2px 1px #ffc162; }
  .middle_box .footer .title {
    margin: 10px auto;
    text-align: center;
    color: #535353;
    font-size: 14px; }
  .middle_box .footer .pages {
    margin: 10px auto;
    text-align: center; }
    .middle_box .footer .pages a {
      height: 23px;
      display: inline-block;
      width: 23px;
      margin: 20px 10px;
      line-height: 23px;
      background-color: #dcdcdc;
      color: #fff; }
    .middle_box .footer .pages a:hover {
      background-color: #ffb17d; }

.right_box_top, .right_box_bottom {
  float: right;
  width: 185px;
  overflow: hidden;
  background: #fff;
  padding: 15px; }
  .right_box_top img, .right_box_bottom img {
    float: left;
    margin-right: 8px; }
  .right_box_top .title, .right_box_bottom .title {
    font-size: 14px;
    line-height: 41px; }
  .right_box_top span, .right_box_bottom span {
    margin: 6px 2px;
    line-height: 20px;
    padding: 2px; }

.right_box_top span {
  font-size: 12px;
  display: inline-block;
  background: #cbcbcb;
  color: #fff; }

.right_box_bottom {
  margin-top: 30px; }
  .right_box_bottom span {
    font-size: 14px;
    display: block;
    padding: 6px 15px; }

body {
  background-color: #ebf0f0;
  min-width: 1200px; }

.right_content {
  margin: 100px auto;
  padding-left: 200px;
  width: 860px; }

/*# sourceMappingURL=index.css.map */
