.register {
  height: 30px;
  font-size: 14px;
  position: absolute;
  right: 0px;
  top: 0px; }

.register button {
  height: 30px;
  width: 50px;
  color: #959595;
  background: #dcdcdc;
  margin: 0px -2px; }

.register button a {
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: inherit; }

.register button:hover {
  color: #fff;
  background: #ffc162; }

.top {
  position: fixed;
  bottom: 20px;
  right: 40px;
  height: 56px;
  width: 56px;
  background: #cbcbcb; }
  .top img {
    vertical-align: middle;
    text-align: center; }

.left_box {
  width: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #fff; }
  .left_box .logo {
    margin: 15px 44px; }
  .left_box p {
    height: 70px;
    text-align: left;
    font-size: 16px;
    position: relative;
    color: #545866; }
  .left_box .home_img {
    top: 9px;
    left: 7px;
    width: 39px; }
  .left_box .blog_img {
    top: 10px;
    left: 6px;
    width: 41px; }
  .left_box .about_img {
    top: 19px;
    left: 11px;
    width: 31px;
    height: 31px; }
  .left_box p svg {
    float: left;
    position: absolute;
    fill: currentColor; }
  .left_box p .tag {
    display: inline-block;
    line-height: 70px;
    color: inherit;
    margin: 2px 74px 0 53px; }
  .left_box p:hover {
    background: #69cad3;
    color: #fff; }
  .left_box .search {
    margin: 100px 70px;
    height: 40px;
    width: 40px;
    fill: #999; }
  .left_box .search:hover {
    fill: #272727; }

.blog_content {
  margin-bottom: 50px; }
  .blog_content .describe {
    position: relative; }
  .blog_content .describe .photo {
    position: absolute;
    left: -80px;
    width: 58px;
    height: 58px;
    top: 5px;
    cursor: pointer; }
  .blog_content .describe .title {
    line-height: 34px;
    font-size: 24px;
    color: #545866;
    height: 70px; }
  .blog_content .describe p span {
    display: inline-block;
    line-height: 40px;
    font-size: 14px; }
  .blog_content .name {
    color: #ffc162;
    margin-right: 30px; }
  .blog_content .like {
    float: right;
    fill: #aaa;
    margin-top: 9px;
    display: inline-block;
    color: #626262;
    height: 23px;
    width: 23px;
    cursor: pointer; }
  .blog_content .like:hover,
  .blog_content .like:active {
    fill: #f29a76; }
  .blog_content .content {
    text-indent: 2em;
    font-size: 14px;
    line-height: 28px;
    color: #626262;
    padding: 20px 36px 50px 0px; }
  .blog_content .tag span {
    display: inline-block;
    margin-right: 10px;
    color: #ffc162; }

.comment .each_comment {
  margin: 0px 10px 30px 0px;
  color: #626262; }
  .comment .each_comment .name {
    color: #f29a76;
    line-height: 36px;
    display: inline-block; }
  .comment .each_comment .date {
    float: right;
    line-height: 36px; }
  .comment .each_comment p {
    padding-right: 90px;
    line-height: 20px; }
.comment input, .comment .textarea {
  color: #d2d2d2;
  line-height: 28px;
  display: block;
  margin-bottom: 15px;
  border-radius: 2px; }
.comment .text {
  width: 190px; }
.comment .text, .comment .textarea {
  box-shadow: 0 0 1px #d2d2d2;
  border: solid 1px #d2d2d2; }
.comment .button {
  background: #ffc162;
  font-size: 14px;
  color: #fff;
  padding: 0px 10px;
  font-weight: bold;
  cursor: pointer; }

body {
  background-color: #ebf0f0;
  min-width: 1200px; }

.right_blog {
  margin-left: 200px; }

.post_conte {
  width: 605px;
  margin: 100px auto;
  padding: 25px 76px 90px 119px;
  background-color: #fff; }

/*# sourceMappingURL=post.css.map */
