{% macro pagination_widget(pagination, endpoint) %}
<ul class="pagination">
    <li{% if not pagination.has_prev %} class="disabled"{% else %} class="able left" {% endif %}>
        <a href="{% if pagination.has_prev %}{{ url_for(endpoint,
            page = pagination.pre_num, **kwargs) }}{% else %}javascript:void(0){% endif %}">
            Previous
        </a>
    </li>
    <li{% if not pagination.has_next %} class="disabled"{% else %} class="able right" {% endif %} >
        <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{% else %}javascript:void(0){% endif %}">
            Next
        </a>
    </li>
</ul>
{% endmacro %}
