{% extends "share_base.html" %} {% block title %}
<title>木犀分享</title>
{% endblock %} {% block content %}
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect tab_bar">
    {% if current_user.is_authenticated %}
    <a href="/send" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored btn_add">
        <i class="material-icons">add</i>
    </a>
    {% endif %}
    <div class="mdl-tabs__tab-bar" id="header_tab_bar">
        <a href="#" class="mdl-tabs__tab {% if flag == 0 %}is-active{% endif%} header_tabs">NEW</a>
        <a href="#" class="mdl-tabs__tab header_tabs {% if flag == 1 %}is-active{% endif%} ">HOT</a>
        <a href="#" class="mdl-tabs__tab header_tabs">MINE</a>
        <a href="#" class="mdl-tabs__tab header_tabs {% if flag == 2 %}is-active{% endif%} ">FRONTEND</a>
        <a href="#" class="mdl-tabs__tab header_tabs {% if flag == 3 %}is-active{% endif%} ">BACKEND</a>
        <a href="#" class="mdl-tabs__tab header_tabs {% if flag == 4 %}is-active{% endif%} ">ANDROID</a>
        <a href="#" class="mdl-tabs__tab header_tabs {% if flag == 5 %}is-active{% endif%} ">DESIGN</a>
        <a href="#" class="mdl-tabs__tab header_tabs {% if flag == 6 %}is-active{% endif%} ">PRODUCT</a>
    </div>
    <a href="/?page=1&sort=new" class="header_tab_links " style="display:none"></a>
    <a href="/?page=1&sort=hot" class="header_tab_links" style="display:none"></a>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for("profile.user_profile", id=current_user.id) }}" class="header_tab_links" style="display:none"></a>
    {% else %}
    <a href="{{ url_for("auth.login") }}" class="header_tab_links" style="display:none"></a>
    {% endif %}
</div>
<section class="section_center">
    {% for share in shares %}
    <div class="index_card mdl-card mdl-cell mdl-cell--12-col">
        <div class="card_inner mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col">
                <h2 class="card_title">{{ share.title }}</h2>
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="card_circle mdl-color--primary"
                id={{'share_' + loop.index|string()}}>
                    <img src={{ share.avatar }} alt="avatar">
                </div>
                <div class="mdl-tooltip" for={{'share_' + loop.index|string()}}>
                    {{ share.author }}
                </div>
                <div>
                    {{ share.tag }}
                </div>
            </div>
            <div class="card_text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                {{ share.share[:100]|neomarkdown }}
            </div>
        </div>
        <div class=" mdl-grid mdl-grid--no-spacing mdl-card__actions card_action">
            <div class="card_action_btn mdl-cell mdl-cell--2-col">
                <i class="material-icons mdl-color-text--grey mdl-badge" data-badge={{ share.comment_count }}>message</i>
                <i class="material-icons mdl-color-text--grey">favorite</i>
            </div>
            <div class="card_more mdl-cell mdl-cell--10-col">
                <a href="{{ url_for("shares.view_share", id=share.id) }}" class="mdl-button mdl-js-button  mdl-js-ripple-effect">Read More</a>
				{% if share.author_id == current_user.id %}
                <a href="{{ url_for("shares.edit", id=share.id) }}" class="mdl-button mdl-js-button  mdl-js-ripple-effect">edit</a>
                <a href="{{ url_for("shares.delete", id=share.id) }}" class="mdl-button mdl-js-button  mdl-js-ripple-effect">delete</a>
				{% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
	<div class="pager">
        <div class="pager_container prev_container">
        {% if shares_pages.has_prev %}
            <a href="{{ url_for('shares.index', page = shares_pages.prev_num, sort=request.args.get('sort')) }}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">arrow_back</i>
            </a>
             {% endif %}
        </div>
        <div class="pager_container forward_container">
        {% if shares_pages.has_next %}
            <a href="{{ url_for('shares.index', page = shares_pages.next_num, sort=request.args.get('sort')) }}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">arrow_forward</i>
            </a>
             {% endif %}
		</div>
	</div>
</section>
<script src="/static/js/index.min.js"></script>
{% endblock %}
