{% extends "share_base.html" %} {% block title %}
<title>木犀分享-新分享</title>
{% endblock %} {% block content %}
<section class="section_center">
    <div class="send_card mdl-card mdl-shadow--2dp">
        <form method="post">
            <!--input type="text" class="send_title" placeholder="分享主题"></input-->
            {{ form.hidden_tag() }}
            {{ form.title(class="send_title", placeholder="分享主题") }}
            <div class="send_content mdl-grid mdl-grid--no-spacing">
                <div class="flask-pagedown">
                    <textarea name="share_md" id="share_md" cols="30" rows="10"
                        class="share_md"></textarea>
                    <!--{{ form.share(
                        cols="30", rows="130",
                        class="share_md"
                        ) }}-->
                </div>
                <div class="flask-pagedown-preview">
                   我是预览啊啊
                </div>
            </div>

            <div class="mdl-card__actions mdl-card--border">
                <button  type="submit" class="send_submit_btn mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">
                SHARE
                </button>
            </div>
        </form>

    </div>
</section>
{% endblock %}
