<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <meta http-equiv='x-dns-prefetch-control' content='on'>
        <link rel='dns-prefetch' href='http://7xtb8m.com1.z0.glb.clouddn.com'>
        <link rel="stylesheet" href="/static/css/material.min.css">
        <link rel="stylesheet" href="/static/css/icon.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="icon" href="/static/images/share_128.ico" sizes="32x32">
        <link rel="icon" href="/static/images/share_128.ico" sizes="64x64">
        <link rel="icon" href="/static/images/share_128.ico" sizes="128x128">
    {% endblock %}
    {% block title %}
    {% endblock %}
</head>

<body class="mdl-color--grey-100">
    {% include 'share_header.html' %}
    {% block content %}
    {% endblock %}
    {% include 'share_footer.html' %}
<script src="/static/js/material.min.js"></script>
</body>

</html>
