<!DOCTYPE html>
<html lang="zh-cn">
<head>
	{% block head %}
	<meta charset="utf-8" />
	<meta name="description" content="木犀个人页" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<link rel="stylesheet" type="text/css" href="/profile/static/css/reset.css">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
	<div class="fix-border">
	{% block content %}{% endblock %}
		<div class="up bd-1"></div>
		<div class="left bd-2"></div>
		<div class="right bd-2"></div>
		<div class="down bd-1">
			<div class="footer margin_auto">
                © 2015-{{ date }} <a href="{{ url_for("index") }}" alt="木犀官网">Muxistudio </a>保留所有权利 Design by buhuan
			</div>
		</div>
	</div>
<script src="/profile/static/js/main.js"></script>
<!--<script src="//localhost:9091"></script> -->
</body>
</html>
