{% extends 'pages/base.html' %}
{% block tittle %}个人编辑页{% endblock %}
{% block head %}
 	{{ super() }}
	<link rel="stylesheet" type="text/css" href="/static/css/edit.css">
{% endblock %}
{% block content %}
		<div class="edit-container margin_auto">
			<h1>修改个人资料</h1>
			<p>Hi,你可以在这里修改自己的个人资料哦～</p>
			<!-- 个人资料表单提交 -->
			<form method="post">
                {{ form.hidden_tag() }}
				<div class="form-group">
				<label for="username">用户名(必填)</label>
					<!--input type="text" class="form-input" id="username"
         autofocus required /-->
                    {{ form.username(class="form-input", id="username") }}
				</div>
				<div class="form-group">
					<label for="pic">头像(必填)</label>
					<!--input type="text" class="form-input" id="pic"
         placeholder="图片链接" required／-->
                    {{ form.avatar_url(class="form-input", id="pic", placeholder="图片链接") }}
				</div>
				<div class="form-group">
					<label for="introduce">个人介绍(必填)</label>
					<!--textarea class="form-textarea" id="text"></textarea-->
                    {{ form.info(class="form-textarea form-input", id="text") }}
				</div>
				<div class="form-group">
					<label for="person-page">个人博客</label>
					<!--input type="text" class="form-input" id="pic"
         placeholder="http://" required／-->
                    {{ form.personal_blog(class="form-input", id="pic", placeholder="http://") }}
				</div>
				<div class="form-group">
					<label for="email">email(必填)</label>
					<!--textarea class="form-textarea" id="text"></textarea-->
                    {{ form.email(class="form-input", id="text") }}
				</div>
				<div class="form-group form-boolean">
					<label for="birthday">生日(必填)</label>
					<input type="date" class="form-input" name="birthday" id="birthday">
                    <!-- {{ form.birthday(class="form-input", id="text") }} -->
				</div>
				<div class="form-group">
					<label for="hometown">家乡(必填)</label>
					<!--textarea class="form-textarea" id="text"></textarea-->
                    {{ form.hometown(class="form-input", id="text") }}
				</div>
				<div class="form-group">
					<label for="group">组别(必填)</label>
					<!--textarea class="form-textarea" id="text"></textarea-->
                    {{ form.group(class="form-input", id="text") }}
				</div>
				<div class="form-group form-boolean">
					<label for="timejoin">加入时间</label>
					<!--textarea class="form-textarea" id="text"></textarea-->
                    <input type="date" class="form-input" name="timejoin" id="timejoin">
				</div>
				<div class="form-group form-boolean">
					<label for="timeleft">离开时间</label>
					<!--textarea class="form-textarea" id="text"></textarea-->
                    <input type="date" class="form-input" name="timeleft" id="timeleft">
				</div>
				<div class="form-group">
					<div class="form-boolean">
						<label for="left">离开</label>
						<!--textarea class="form-textarea" id="text"></textarea-->
	                    {{ form.left(id="boolean") }}
                    </div>
				</div>
				<div class="form-group">
					<label for="person-page">Github</label>
					<!--input type="text" class="form-input" id="pic"
         placeholder="http://"／-->
                    {{ form.github(class="form-input", id="pic", placeholder="https://") }}
				</div>
				<div class="form-group">
					<label for="person-page">Flickr</label>
					<!--input type="text" class="form-input" id="pic"
         placeholder="http://"／-->
                    {{ form.flickr(class="form-input", id="pic", placeholder="http://") }}
				</div>	
				<div class="form-group">
					<label for="person-page">新浪微博</label>
					<!--input type="text" class="form-input" id="pic"
         placeholder="http://"／-->
                    {{ form.weibo(class="form-input", id="pic", placeholder="http://") }}
				</div>
				<div class="form-group">
					<label for="person-page">知乎</label>
					<!--input type="text" class="form-input" id="pic"
         placeholder="http://"／-->
                    {{ form.zhihu(class="form-input", id="pic", placeholder="http://") }}
				</div>
<!--                 <div>字符串{{ form.birthday }}</div>
                <div>字符串{{ form.hometown }}</div>
                <div>字符串{{ form.group }}</div>
                <div>字符串{{ form.timejoin }}</div>
                <div>字符串{{ form.timeleft }}</div>
                <div>Boolean{{ form.left }}</div> -->
				<input type="submit" class="form-submit" value="确定">
			</form>
		</div>
{% endblock %}
