{% extends 'base_d.html' %} 
{% block title %}
	<title>木犀团队</title>
{% endblock %} 
{% block style %} 
	{{super()}}
	<link rel="stylesheet" type="text/css" href="/static/css/index_d.css"> 
{% endblock %} 
{% block content %}
<div class="main">
	  <div class="header">
	  	<div class="header-container">
	  		<div class="logo">
	  			<img src="/static/images/muxi_logo.png" alt="muxi_logo">
	  		</div>
	  		<div class="links">
	  		<a class="links-item" href="/join">加入我们</a>
	  			<a class="links-item" href="https://xueer.muxixyz.com/" target="_blank">学而</a>
	  			<a class="links-item" href="http://blog.muxistudio.com/" target="_blank">团队博客</a>
	  			
	  		</div>
	  	</div>
	  </div>
    <img src="/static/images/main.svg" class="main-bg" alt="index_svg">
    <div class="circle">
        <img src="/static/images/circle.svg" class="circle-animation" alt="circle_svg">
        <a href="http://weibo.com/ccnumuxistudio" target="_blank" class="circle-text">了解我们</a>
    </div>
    <img src="/static/images/text.svg" class="text text-animation" alt="text_svg">
</div>
{% endblock %}
