{% extends 'base_m.html' %} 
{% block title %}
    <title>木犀团队</title>
{% endblock %} 
{% block style %} 
    {{super()}}
    <link rel="stylesheet" type="text/css" href="/static/css/index_m.css">
{% endblock %} 
{% block content %}
    <header class="index_header">
        <div class="header_container">
            <div class="logo">
                <img src="/static/images/muxi_logo.png">
            </div>
        </div>
    </header>
    <div class="index">
        <div class="content">
            <div class="middle">
                <p>我们，在路上
                    <br>前方，不会太远
                </p>
                <div class="btn_warpper">
                    <div class="container">
                        <a href="http://mp.weixin.qq.com/s?__biz=MzAwOTk0NjAwMg==&mid=2247483654&idx=1&sn=4caa94bbe12178d58693fde357a0f40e&scene=0#wechat_redirect" class="btn btn_top margin_btm">了解我们</a>
                        <a href="http://form.mikecrm.com/0RF83W" class="btn btn_top">加入我们</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slogan_bg">
        <img src="/static/images/slogan_bg.png" alt="slogan_bg">
    </div>
    <footer class="index_footer">Hello from Wuhan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2014-2016 Muxistudio</footer>
{% endblock %}

