html,
body {
  height: 100%;
}

.main {
  height: 100%;
  width: : 100%;
  position: relative;
  overflow: hidden;
}

.main-bg {
  display: block;
  width: 78%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main .circle {
  display: block;
  width: 12%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.main .circle img {
  width: 100%;
  height: auto;
}

.main .text {
  display: block;
  width: 12%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.main .circle-text {
  cursor: pointer;
  color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-animation {
  animation: circle 3s linear infinite;
}

.text-animation {
  animation: text 5s infinite;
}

@keyframes circle {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

@keyframes text {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.header{
    width: 100%;
    position:absolute;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 3;
}

.header-container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.header .logo{
    float: left;
    width: 120px;
    height: 36px;
    margin: 17px 0;
}

.header .logo img{
    display: block;
    width: 100%;
}

.header .links{
    font-size: 16px;
    float: right;
    width: 300px;
    height: 100%;
    line-height: 70px;
}

.header .links-item{
    color: #000;
    float: right;
    display:block;
    height: 100%;
    margin-right: 20px;
}

.header .links-item:hover{
    color: #fed700;
}
