html,
body {
    height: 100%;
    font-family: "Microsoft YaHei";
    fony-size: 14pxh;
}
/* header */
.header_container{
	height: 50px;
	width: 100%;
	box-shadow: 0px 10px 5px #e6e6e6;
}
.logo{
	line-height: 50px;
	height: 50px;
	display: inline-block;
}
.logo img{	
	width: 40px;
	height: 40px;
	vertical-align: middle;
	margin-left: 50px;
}
nav{
	float: right;
	line-height: 50px;
	margin-right: 50px;
}
nav a {
	width: 80px;
	display: inline-block;
	color: #000;
	position: relative;
	text-align: center;
	cursor: pointer;
}
nav a:hover{
	color:#fed700;
}

nav a:before,nav a:after{
	content: '';
	position: absolute;
	top: 0;
	height: 3px;
	background-color: #fed700;
	width: 0;
	transition: all 0.2s ease;
}
nav a:before{
	left:50%;
}
nav a:after{
	right: 50%
}
nav a:hover:before,nav a:hover:after{
	width: 50%;
}

/* main */

.main{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 120px;
}
.contents{
	text-align: center;
	background-image: url('../images/q_bg.png');
	background-repeat: no-repeat;
	background-color: #fed700;
	overflow: hidden;
	height: 230px;
	background-size: 100% 100%;
}
.contents h2{
	line-height: 40px;
	font-weight: bold;
	font-size: 20px;
	margin-top: 40px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.contents p {
	line-height: 28px;
}

/* infomation */
.info-box{
	box-shadow: 0 -2px 5px rgba(0,0,0,0.05);
}
.info{
	width: 695px;
	margin: 0 auto;
	padding-top: 45px;
}
.info-left{
	display: inline-block;

}
.info-left .map{
	width: 265px;
	height: 165px;
	border: 1px solid rgba(0,0,0,0.5);
	margin-bottom: 20px;
}
.info-left p {
	line-height: 22px;
	font-size: 13px;
}

.info-right{
	display: inline-block;
	margin-left: 120px;
	vertical-align: top;
}
.form-contents{
	border: 1px solid #000;
	min-height: 330px;
	min-width: 300px;
}
.form button{
	width: 185px;
	height: 40px;
	border: 2px solid #000;
	background-color: transparent;
	margin-top: 20px;
	float: right;
	font-size: 15px;
	cursor: pointer;
	transition: all 0.5s ease-out;
}
.form button:hover{
	background-color: #fed700;
}

