html,
body {
    height: 100%;
}
/*head*/

.index_header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0px 6px 5px #e6e6e6;
}

.header_container {
    width: 100%;
    height: 60px;
    overflow: hidden;
}

.logo {
    height: 40px;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
}

.logo img {
    width: 120px;
    height: auto;
}
/*footer*/

.index_footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

footer {
    width: 100%;
    background-color: #69cad3;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 12px;
}
/*** index ***/

.index {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 60px 0px 50px 0px;
    font-size: 0;
}

.index .content {
    width: 100%;
    display: inline-block;
    height: 100%;
    background-image: url(../images/content_bg.png);
    background-size: cover;
    position: relative;
    z-index: 99;
    text-align: center;
    color: #fff;
    padding: 0% 15% 0 15%;
    box-sizing: border-box;
}

.index .content p {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.5em;
}

.slogan_bg {
    pointer-events: none;
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 101;
}

.slogan_bg img {
    display: inline-block;
    vertical-align: bottom;
    width: 70%;
}

.index .content .margin_btm{
    margin-bottom:10px;
}

.index .content .btn {
    display: inline-block;
    width: 152px;
    height: 58px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 29px;
    text-align: center;
    line-height: 58px;
    font-weight: 100;
    font-family: 'Yuanti SC', 'Microsoft YaHei';
    color: #fff;
}

.index .content .middle {
    vertical-align: middle;
    display: inline-block;
    height: auto;
}

.index .content:after {
    content: "";
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImluZGV4LmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTs7SUFFSSxhQUFhO0NBQ2hCO0FBQ0QsUUFBUTs7QUFFUjtJQUNJLG1CQUFtQjtJQUNuQixPQUFPO0lBQ1AsUUFBUTtJQUNSLFlBQVk7SUFDWixhQUFhO0lBQ2IsZ0NBQWdDO0NBQ25DOztBQUVEO0lBQ0ksWUFBWTtJQUNaLGFBQWE7SUFDYixpQkFBaUI7Q0FDcEI7O0FBRUQ7SUFDSSxhQUFhO0lBQ2IsWUFBWTtJQUNaLGtCQUFrQjtJQUNsQixpQkFBaUI7O0NBRXBCOztBQUVEO0lBQ0ksWUFBQTtJQUNILGFBQUE7Q0FDQTs7QUFFRDtJQUNJLGFBQWE7SUFDYixhQUFhO0lBQ2IsYUFBQTtJQUNILG1CQUFBO0NBQ0E7O0FBRUQ7SUFDSSxhQUFBO0lBQ0Esc0JBQUE7SUFDQSwyQkFBa0I7SUFDbEIsa0JBQUE7SUFDQSxtQkFBZ0I7SUFDaEIsZ0JBQWU7SUFDbEIsZUFBQTtDQUNBOztBQUVEO0lBQ0MsMEJBQUE7Q0FDQTs7QUFFRDtJQUNJLGFBQVk7SUFDWixZQUFBO0lBQ0gsbUJBQUE7Q0FDQTs7QUFFRDtJQUNJLHNCQUFZO0lBQ1osWUFBQTtJQUNBLGtCQUFBO0lBQ0EsbUJBQW1CO0lBQ25CLG1CQUFlO0lBQ2YsZUFBQTtJQUNILGdCQUFBO0NBQ0E7O0FBRUQ7SUFDSSxZQUFBO0lBQ0EsMEJBQXFCO0lBQ3hCLHFCQUFBO0NBQ0E7O0FBRUQ7SUFDSSxZQUFZO0lBRVosWUFBQTtJQUNILG9IQUFBO0NBQ0Q7QUFBQSxVQUFVOztBQUVWO0lBRUksbUJBQVU7SUFDVixVQUFTO0lBQ1osU0FBQTtDQUFBOztBQUVEO0lBRUksWUFBQTtJQUNBLDBCQUFtQjtJQUNuQixtQkFBa0I7SUFDbEIsa0JBQVk7SUFDZixZQUFBO0NBQ0Q7QUFBQSxlQUFlOztBQUVmO0lBRUksWUFBQTtJQUNBLGFBQUE7SUFDQSx1QkFBQTtJQUNBLDJCQUFhO0lBQ2hCLGFBQUE7Q0FBQTs7QUFFRDtJQUVJLFdBQUE7SUFDQSxzQkFBYTtJQUNiLGFBQUE7SUFDQSxpQkFBQTtJQUNBLG9CQUFBO0lBQ0EsdUJBQW9CO0lBQ3ZCLG9CQUFBO0NBQUE7O0FBRUQ7SUFFSSxXQUFBO0lBQ0Esc0JBQWE7SUFDYixhQUFBO0lBQ0Esb0JBQUE7SUFDQSxnREFBdUI7SUFDdkIsdUJBQW1CO0lBQ25CLG1CQUFZO0lBQ1osWUFBQTtJQUNBLG1CQUFZO0lBQ1osWUFBQTtJQUNBLHNCQUFBO0lBQ0EsdUJBQW1CO0lBQ3RCLG1CQUFBO0NBQUE7O0FBRUQ7SUFFSSxpQkFBQTtJQUNILG9CQUFBO0NBQUE7O0FBRUQ7SUFFSSxtQkFBYTtJQUNiLGFBQVE7SUFDUixRQUFBO0lBQ0gsYUFBQTtDQUFBOztBQUVEO0lBRUksc0JBQUE7SUFDQSx1QkFBWTtJQUNaLFlBQUE7SUFDSCxhQUFBO0NBQUE7O0FBRUQ7SUFFSSxhQUFhO0lBQ2IsYUFBQTtJQUNBLHVCQUFtQjtJQUNuQixtQkFBZ0I7SUFDaEIsZ0JBQUE7SUFDQSxtQkFBa0I7SUFDbEIsa0JBQWlCO0lBQ2pCLGlCQUFBO0lBQ0EsNENBQVk7SUFDZixZQUFBO0NBQUE7O0FBRUQ7SUFFSSxhQUFBO0lBQ0EsY0FBQTtJQUNBLG1CQUFlO0lBQ2YsZUFBQTtJQUVBLDRCQUFBO1lBQUEsb0JBQUE7Q0FESDs7QUFFRDtJQUNJLHFDQUFxQztJQUd6QyxpQ0FBQTtJQUNJLGdDQUFBO0lBRUEsNkJBQUE7SUFDQSxrQ0FBZ0M7SUFDaEMsMEJBQUE7Q0FGSDs7QUFFRDtJQUNJLGVBQWU7SUFPbkIsbUJBQUE7SUFDSSxPQUFBO0lBQ0Esb0RBQW1CO0lBQ25CLDRDQUFPO0lBQ1Asb0JBQUE7Q0FMSDs7QUFFRDtJQUNJLGVBQWU7SUFjbkIsbUJBQUE7SUFDSSxPQUFBO0lBQ0Esb0NBQW1CO0lBQ25CLDRCQUFPO0lBQ1Asb0JBQUE7Q0FaSDs7QUFFRDtJQUNJLG1DQUFtQztJQXFCdkMsMkJBQUE7Q0FuQkM7QUFDRCxxQkF1Qkk7O0FBRUo7SUF0Qkk7UUF3QkosbUJBQUE7S0FDSTtJQXRCQTtRQXdCQyxXQUFBO0tBQ0Q7SUF0QkE7UUF3QkMsV0FBQTtLQUNEO0lBdEJBO1FBd0JDLGdCQUFBO0tBQ0Q7Q0F0QkgiLCJmaWxlIjoiaW5kZXguY3NzIiwic291cmNlc0NvbnRlbnQiOlsiaHRtbCxcbmJvZHkge1xuICAgIGhlaWdodDogMTAwJTtcbn1cbi8qaGVhZCovXG5cbi5pbmRleF9oZWFkZXIge1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICB0b3A6IDA7XG4gICAgbGVmdDogMDtcbiAgICB3aWR0aDogMTAwJTtcbiAgICBoZWlnaHQ6IDgwcHg7XG4gICAgYm94LXNoYWRvdzogMHB4IDZweCA1cHggI2U2ZTZlNjtcbn1cblxuLmhlYWRlcl9jb250YWluZXIge1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIGhlaWdodDogODBweDtcbiAgICBvdmVyZmxvdzogaGlkZGVuO1xufVxuXG4ubG9nbyB7XG4gICAgaGVpZ2h0OiA2MHB4O1xuICAgIGZsb2F0OiBsZWZ0O1xuICAgIG1hcmdpbi1sZWZ0OiAzNXB4O1xuICAgIG1hcmdpbi10b3A6IDIwcHg7XG59XG5cbi5sb2dvIGltZyB7XG4gICAgd2lkdGg6IDUwcHg7XG4gICAgaGVpZ2h0OiBhdXRvO1xufVxuXG5uYXYge1xuICAgIGhlaWdodDogODBweDtcbiAgICBmbG9hdDogcmlnaHQ7XG4gICAgZm9udC1zaXplOiAwO1xuICAgIG1hcmdpbi1yaWdodDogNDVweDtcbn1cblxubmF2IGEge1xuICAgIHdpZHRoOiAxNTBweDtcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgYm9yZGVyLXRvcDogNXB4IHNvbGlkICNmZmY7XG4gICAgbGluZS1oZWlnaHQ6IDc1cHg7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIGZvbnQtc2l6ZTogMThweDtcbiAgICBjb2xvcjogIzM2Mzc0OTtcbn1cblxubmF2IGE6aG92ZXIge1xuICAgIGJvcmRlci10b3AtY29sb3I6ICNkNDYzMTM7XG59XG5cbi5sb2dpbiB7XG4gICAgaGVpZ2h0OiA0NXB4O1xuICAgIGZsb2F0OiBsZWZ0O1xuICAgIG1hcmdpbi1sZWZ0OiAxMDBweDtcbn1cblxuLmxvZ2luIGEge1xuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICB3aWR0aDogODZweDtcbiAgICBsaW5lLWhlaWdodDogMzVweDtcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgbWFyZ2luLXRvcDogMjIuNXB4O1xuICAgIGNvbG9yOiAjMzYzNzQ5O1xuICAgIGZvbnQtc2l6ZTogMThweDtcbn1cblxuLmxvZ2luIGE6aG92ZXIge1xuICAgIGNvbG9yOiAjZmZmO1xuICAgIGJhY2tncm91bmQtY29sb3I6ICM2OWNhZDM7XG4gICAgYm9yZGVyLXJhZGl1czogMy41cHg7XG59XG5cbi5ncmFkaWVudF9ib3gge1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIGhlaWdodDogNXB4O1xuICAgIGJhY2tncm91bmQtaW1hZ2U6IC13ZWJraXQtbGluZWFyLWdyYWRpZW50KHRvIHJpZ2h0LCAjNjNjYWQ5LCAjNkVDNkMwLCAjOTNDNUQxLCAjQkJCREJCLCAjQzhBRkE1LCAjQ0E5NzZCLCAjREE3MjNELCAjZTg2OTBjKTtcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiBsaW5lYXItZ3JhZGllbnQodG8gcmlnaHQsICM2M2NhZDksICM2RUM2QzAsICM5M0M1RDEsICNCQkJEQkIsICNDOEFGQTUsICNDQTk3NkIsICNEQTcyM0QsICNlODY5MGMpO1xufVxuLypmb290ZXIqL1xuXG4uaW5kZXhfZm9vdGVyIHtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgYm90dG9tOiAwO1xuICAgIHJpZ2h0OiAwO1xufVxuXG5mb290ZXIge1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIGJhY2tncm91bmQtY29sb3I6ICM2OWNhZDM7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIGxpbmUtaGVpZ2h0OiA3MHB4O1xuICAgIGNvbG9yOiAjZmZmO1xufVxuLyoqKiBpbmRleCAqKiovXG5cbi5pbmRleCB7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG4gICAgcGFkZGluZzogODBweCAwcHggNzBweCAwcHg7XG4gICAgZm9udC1zaXplOiAwO1xufVxuXG4uaW5kZXggLnNsb2dhbiB7XG4gICAgd2lkdGg6IDMyJTtcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIHRleHQtYWxpZ246IGxlZnQ7XG4gICAgdmVydGljYWwtYWxpZ246IHRvcDtcbiAgICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xuICAgIHBhZGRpbmc6IDQlIDAgMCAxMiU7XG59XG5cbi5pbmRleCAuY29udGVudCB7XG4gICAgd2lkdGg6IDY4JTtcbiAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIHZlcnRpY2FsLWFsaWduOiB0b3A7XG4gICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKC4uL2ltYWdlcy9jb250ZW50X2JnLnBuZyk7XG4gICAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcbiAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgei1pbmRleDogOTk7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIGNvbG9yOiAjZmZmO1xuICAgIHBhZGRpbmc6IDYlIDE1JSAwIDE1JTtcbiAgICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xuICAgIGxpbmUtaGVpZ2h0OiAxLjVlbTtcbn1cblxuLmluZGV4IC5jb250ZW50IHAge1xuICAgIHRleHQtYWxpZ246IGxlZnQ7XG4gICAgbWFyZ2luLWJvdHRvbTogNDVweDtcbn1cblxuLnNsb2dhbl9iZyB7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIGJvdHRvbTogNzBweDtcbiAgICBsZWZ0OiAwO1xuICAgIHotaW5kZXg6IDEwMTtcbn1cblxuLnNsb2dhbl9iZyBpbWcge1xuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICB2ZXJ0aWNhbC1hbGlnbjogYm90dG9tO1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIGhlaWdodDogMTAwJTtcbn1cblxuLmluZGV4IC5jb250ZW50IC5idG4ge1xuICAgIHdpZHRoOiAxNzJweDtcbiAgICBoZWlnaHQ6IDU4cHg7XG4gICAgYm9yZGVyOiAxcHggc29saWQgI2ZmZjtcbiAgICBib3JkZXItcmFkaXVzOiA1cHg7XG4gICAgZm9udC1zaXplOiAyOXB4O1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICBsaW5lLWhlaWdodDogNThweDtcbiAgICBmb250LXdlaWdodDogMTAwO1xuICAgIGZvbnQtZmFtaWx5OiAnWXVhbnRpIFNDJywgJ01pY3Jvc29mdCBZYUhlaSc7XG4gICAgY29sb3I6ICNmZmY7XG59XG5cbi5pbmRleCAuYnRuX3dhcnBwZXIge1xuICAgIHdpZHRoOiAxNzJweDtcbiAgICBoZWlnaHQ6IDE1OHB4O1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgICBtYXJnaW46IDAgYXV0bztcbiAgICAtd2Via2l0LXBlcnNwZWN0aXZlOiA0MDAwcHg7XG4gICAgLW1vei1wZXJzcGVjdGl2ZTogNDAwMHB4O1xuICAgIC1tcy1wZXJzcGVjdGl2ZTogNDAwMHB4O1xuICAgIC1vLXBlcnNwZWN0aXZlOiA0MDAwcHg7XG4gICAgcGVyc3BlY3RpdmU6IDQwMDBweDtcbn1cblxuLmluZGV4IC5idG5fd2FycHBlciAuY29udGFpbmVyIHtcbiAgICAtd2Via2l0LXRyYW5zZm9ybS1zdHlsZTogcHJlc2VydmUtM2Q7XG4gICAgLW1vei10cmFuc2Zvcm0tc3R5bGU6IHByZXNlcnZlLTNkO1xuICAgIC1tcy10cmFuc2Zvcm0tc3R5bGU6IHByZXNlcnZlLTNkO1xuICAgIC1vLXRyYW5zZm9ybS1zdHlsZTogcHJlc2VydmUtM2Q7XG4gICAgdHJhbnNmb3JtLXN0eWxlOiBwcmVzZXJ2ZS0zZDtcbiAgICAtd2Via2l0LXRyYW5zaXRpb246IC13ZWJraXQtdHJhbnNmb3JtIC42cztcbiAgICAtbW96LXRyYW5zaXRpb246IC1tb3otdHJhbnNmb3JtIC42cztcbiAgICAtbXMtdHJhbnNpdGlvbjogLW1zLXRyYW5zZm9ybSAuNnM7XG4gICAgLW8tdHJhbnNpdGlvbjogLW8tdHJhbnNmb3JtIC42cztcbiAgICB0cmFuc2l0aW9uOiB0cmFuc2Zvcm0gLjZzO1xufVxuXG4uaW5kZXggLmJ0bl93YXJwcGVyIC5jb250YWluZXIgLmJ0bl9idG0ge1xuICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICB0b3A6IDA7XG4gICAgLXdlYmtpdC10cmFuc2Zvcm06IHJvdGF0ZVgoLTkwZGVnKSB0cmFuc2xhdGVaKDMwcHgpO1xuICAgIC1tb3otdHJhbnNmb3JtOiByb3RhdGVYKC05MGRlZykgdHJhbnNsYXRlWigzMHB4KTtcbiAgICAtbXMtdHJhbnNmb3JtOiByb3RhdGVYKC05MGRlZykgdHJhbnNsYXRlWigzMHB4KTtcbiAgICAtby10cmFuc2Zvcm06IHJvdGF0ZVgoLTkwZGVnKSB0cmFuc2xhdGVaKDMwcHgpO1xuICAgIHRyYW5zZm9ybTogcm90YXRlWCgtOTBkZWcpIHRyYW5zbGF0ZVooMzBweCk7XG4gICAgLXdlYmtpdC10cmFuc2l0aW9uOiBhbGwgLjZzO1xuICAgIC1tb3otdHJhbnNpdGlvbjogYWxsIC42cztcbiAgICAtbXMtdHJhbnNpdGlvbjogYWxsIC42cztcbiAgICAtby10cmFuc2l0aW9uOiBhbGwgLjZzO1xuICAgIHRyYW5zaXRpb246IGFsbCAuNnM7XG59XG5cbi5pbmRleCAuYnRuX3dhcnBwZXIgLmNvbnRhaW5lciAuYnRuX3RvcCB7XG4gICAgZGlzcGxheTogYmxvY2s7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHRvcDogMDtcbiAgICAtd2Via2l0LXRyYW5zZm9ybTogdHJhbnNsYXRlWigzMHB4KTtcbiAgICAtbW96LXRyYW5zZm9ybTogdHJhbnNsYXRlWigzMHB4KTtcbiAgICAtbXMtdHJhbnNmb3JtOiB0cmFuc2xhdGVaKDMwcHgpO1xuICAgIC1vLXRyYW5zZm9ybTogdHJhbnNsYXRlWigzMHB4KTtcbiAgICB0cmFuc2Zvcm06IHRyYW5zbGF0ZVooMzBweCk7XG4gICAgLXdlYmtpdC10cmFuc2l0aW9uOiBhbGwgLjZzO1xuICAgIC1tb3otdHJhbnNpdGlvbjogYWxsIC42cztcbiAgICAtbXMtdHJhbnNpdGlvbjogYWxsIC42cztcbiAgICAtby10cmFuc2l0aW9uOiBhbGwgLjZzO1xuICAgIHRyYW5zaXRpb246IGFsbCAuNnM7XG59XG5cbi5pbmRleCAuYnRuX3dhcnBwZXIgLmNvbnRhaW5lcjpob3ZlciB7XG4gICAgLXdlYmtpdC10cmFuc2Zvcm06ICByb3RhdGVYKDkwZGVnKTtcbiAgICAtbW96LXRyYW5zZm9ybTogcm90YXRlWCg5MGRlZyk7XG4gICAgLW1zLXRyYW5zZm9ybTogIHJvdGF0ZVgoOTBkZWcpO1xuICAgIC1vLXRyYW5zZm9ybTogIHJvdGF0ZVgoOTBkZWcpO1xuICAgIHRyYW5zZm9ybTogIHJvdGF0ZVgoOTBkZWcpO1xufVxuLyoqKiBtZWRpYSBxdWVyeSAqKiovXG5cbkBtZWRpYSBzY3JlZW4gYW5kIChtaW4td2lkdGg6IDEwMDBweCkgYW5kIChtYXgtd2lkdGg6IDEzMDBweCkge1xuICAgIC5pbmRleCAuc2xvZ2FuIHtcbiAgICAgICAgcGFkZGluZzogNCUgMCAwIDglO1xuICAgIH1cbiAgICAuaW5kZXggLnNsb2dhbiBpbWcge1xuICAgICAgICB3aWR0aDogODAlO1xuICAgIH1cbiAgICAuc2xvZ2FuX2JnIHtcbiAgICAgICAgd2lkdGg6IDMzJTtcbiAgICB9XG4gICAgLmluZGV4IC5jb250ZW50IHtcbiAgICAgICAgZm9udC1zaXplOiAyMXB4O1xuICAgIH1cbn0iXX0= */