.list {
    width: 960px;
    margin-top: 12px
}

.list .topic {
    height: 40px;
    font-size: 22px;
    font-weight: bolder;
    line-height: 40px
}

.list .title {
    font-size: 15px;
    line-height: 20px;
    font-weight: 800;
    height: 20px
}

.list .title .title-link {
    display: inline-block;
    width: 100%;
    height: 20px;
    color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}

.list .left {
    width: 255px;
    display: inline-block;
    text-align: right
}

.list .left .book {
    background: transparent url("../images/sprit.png") no-repeat 114px -76px;
    padding-right: 5px
}

.list .left .td {
    width: 100%;
    margin: 5px 0
}

.list .left .date {
    font-size: 13px;
    line-height: 20px;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.7)
}

.list .middle {
    width: 300px;
    margin: 0 70px;
    display: inline-block;
    text-align: center;
    vertical-align: top
}

.list .middle .share {
    background: transparent url("../images/sprit.png") no-repeat 84px -113px;
    padding-left: 30px;
    margin-bottom: 5px
}

.list .middle .comments {
    margin: 12px 0
}

.list .middle .comments_lists {
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.list .right {
    width: 225px;
    display: inline-block;
    text-align: left;
    vertical-align: top
}

.list .right .blog {
    background: transparent url("../images/sprit.png") no-repeat 0 -154px;
    padding-left: 40px
}

.list .right .address-link {
    display: inline-block;
    width: 100%;
    height: 20px;
    color: rgba(0, 0, 0, 0.9);
    margin: 5px 0
}

.list .right .lists {
    font-size: 16px
}
