.nav {
    width: 100%;
    margin: 20px 0
}

.nav .btn {
    background: transparent url("../images/sprit.png") no-repeat 0 -200px;
    width: 80px;
    height: 30px;
    position: fixed;
    top: 45px;
    right: 50px
}

.nav .pop {
    width: 250px;
    height: 100%;
    background-color: rgba(203, 42, 49, 0.7);
    text-align: center
}

.nav .pop .cancel {
    background: transparent url("../images/sprit.png") no-repeat 0 -230px;
    width: 35px;
    height: 30px;
    margin-left: 190px;
    margin-top: 10px
}

.nav .pop .link {
    display: block;
    font-size: 17px;
    font-weight: bolder;
    line-height: 60px
}

.nav .hide {
    right: -250px;
    position: fixed;
    transition: right 0.3s linear;
    -moz-transition: right 0.3s linear;
    -webkit-transition: right 0.3s linear;
    -o-transition: right 0.3s linear
}

.nav .appear {
    right: 0;
    position: fixed;
    transition: right 0.3s linear;
    -moz-transition: right 0.3s linear;
    -webkit-transition: right 0.3s linear;
    -o-transition: right 0.3s linear
}
.profile-card{
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
    height: 400px;
    background-color: rgba(255, 255, 255,0.7);
}
.profile-ctn{
    display: block;
    font-size: 15px;
    line-height: 60px;
}