<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        {% block title %}{% endblock %}
        <!--css file-->
        {% block css_file %}
        {% endblock %}
    </head>
    <body>
        <!-- 消息闪现 -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashes" id="flashes">
            {% for message in messages %}
            <div>{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <div class="background-images"></div>
        <div class="container margin_auto">        
            {% block page_content %}{% endblock %}
        </div>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bundle.js"></script>
    </body>
</html>
