{% extends '/pages/book-base.html' %}
{% block title %}<title>用户主页</title>{% endblock %}
{% block css_file %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for("books.home") }}static/css/main.css">
{% endblock %}

{% block page_content %}
{% include '/components/header.html' %}
<div class="container">
    <div class="left">
        <div class="content">正在借阅
            <div id="next" class="btn"></div>
            <div id="prev" class="btn"></div>
        </div>
        <div class="showbox show_users">
            <ul class="slide">
                {% for i in range_book_count %}
                <li class="box">
                    {% for book in book_list[i*3:(i+1)*3] %}
                    <div class="new_book">
                        <a href="#"><img src={{ book.image }} alt="" class="book"></a>
                        <div class="book_information">
                            <a href="#">
                                <p class="title">{{ book.name }}</p>
                            </a>
                            <p class="book_back">还书</p>
                            <div class="book_tags">
                                {% if book.end %}
                                <p>到期时间：{{ book.end }}</p>
                                <form action="{{ url_for("books.user", id=current_user.id) }}">
                                    <p class="book_back">还书</p>
                                    <input type="submit" name="back" value="{{ book.name }}">
                                </form>
                                {% else %}
                                <p>书已到期!</p>
                                <form action="{{ url_for("books.user", id=current_user.id) }}">
                                    <p class="book_back">还书</p>
                                    <input type="submit" name="back" value="{{ book.name }}">
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="content ever">快要过期
            <div id="next_ever" class="btn"></div>
            <div id="prev_ever" class="btn"></div>
        </div>
        <div class="showbox show_users">
            <ul class="slide_ever">
                {% for i in range_timedonebook_count %}
                <li class="box_ever">
                    {% for book in time_done_book[i*3:(i+1)*3] %}
                    <div class="new_book">
                        <a href="#"><img src={{ book.image }} alt="" class="book"></a>
                        <div class="book_information">
                            <a href="#">
                                <p class="title">{{ book.name }}</p>
                            </a>
                            <p class="book_back">还书</p>
                            <div class="book_tags">
                                {% if book.end %}
                                <p>到期时间：{{ book.end }}</p>
                                <form action="{{ url_for("books.user", id=current_user.id) }}" method="POST">
                                    <p class="book_back">还书</p>
                                    <input type="submit" name="back" value="{{ book.name }}">
                                </form>
                                {% else %}
                                <p>书已到期!</p>
                                <form action="{{ url_for("books.user", current_user.id) }}" method="POST">
                                    <p class="book_back">还书</p>
                                    <input type="submit" name="back" value="{{ book.name }}">
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% include '/components/footer.html' %}
{% endblock %}
