$white: #fff;
$light_blue: #69cad3;
$deep_orange: #ffc162;
$light_orange: #ffb17d;
$title_gray: #545866;
$side_title_gray: #535353;
$article_gray: #68696b;
$date_gray: #626262;
$registe_font_gray: #959595;
$light_gray: #adafaf;
$span_back_gray: #cbcbcb;
$registe_back_gray: #dcdcdc;
$input: #d2d2d2;
$body_back_gray: #ebf0f0;
$light_red: #f29a76;