.left_box {
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0px;
    top: 0px;
    background: $white;
    overflow: hidden;
    .logo {
        margin: 22px auto;
        display:block;
        width:70px;
        height:auto;
    }
    a {
        height: 70px;
        text-align: left;
        font-size: 16px;
        position: relative;
        color: #535353;
        display:block;
        border-bottom: 1px #d9dcdc solid;
    }
    .nav_link_first{
        border-top: 1px #d9dcdc solid;
    }
    .about_img {
        height: 31px;
    }
    a svg {
        display: inline-block;
        width: 39px; 
        fill:#d9dcdc;
        margin-left: 30px;
        margin-right: 15px;
        vertical-align: middle;
    }
    a .tag {
        display: inline-block;
        line-height: 70px;
        vertical-align: middle;
    }
    a:hover {
        background: $light_blue;
        color: $white;
    }
    a:hover svg{
        fill:#fff;
    }
    .search {
        margin: 0px 70px;
        margin-top: 90px;
        height: 40px;
        width: 40px;
        fill: #d9dcdc;
    }
    .search:hover {
        fill: #272727;
    }
}
