.left_box {
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0px;
    top: 0px;
    background: $white;
    .logo {
        margin: 15px 44px;
    }
    p {
        height: 70px;
        text-align: left;
        font-size: 16px;
        position: relative;
        color: $title_gray;
    }
    .about_img {
        height: 31px;
    }
    p svg {
        display: inline-block;
        width: 39px;
        fill: currentColor;
        margin: 0px 15px;
        vertical-align: middle;
    }
    p .tag {
        display: inline-block;
        line-height: 70px;
        color: inherit;
        vertical-align: middle;
    }
    p:hover {
        background: $light_blue;
        color: $white;
    }
    .search {
        margin: 100px 70px;
        height: 40px;
        width: 40px;
        fill: #999;
    }
    .search:hover {
        fill: #272727;
    }
}
