body {
    font-family: "Mircosoft YaHei", "微软雅黑", "Arial", "Helvetica", "PingFang SC", "STHeiti", "sans-serif";
    line-height: 1
}

html,
body,
button,
form,
textarea,
input,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem
}

input,
button,
textarea {
    border: 0;
    outline: 0;
    box-sizing: content-box
}

button {
    cursor: pointer
}

html {
    font-size: 12px
}

a {
    color: #000;
    cursor: pointer;
    text-decoration: none
}

textarea {
    display: block
}

