.margin_auto {
    margin: 0 auto
}

.space {
    font-size: 0rem;
    -webkit-text-size-adjust: none
}

.va_item {
    display: inline-block;
    vertical-align: middle
}

.tc {
    text-align: center
}

.cp {
    cursor: pointer
}

.list {
    width: 960px;
    margin-top: 12px
}

.list .topic {
    height: 40px;
    font-size: 22px;
    font-weight: bolder;
    line-height: 40px
}

.list .title {
    font-size: 15px;
    line-height: 20px;
    font-weight: 800;
    height: 20px
}

.list .title .title-link {
    display: inline-block;
    width: 100%;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.9)
}

.list .left {
    width: 255px;
    display: inline-block;
    text-align: right
}

.list .left .book {
    background: transparent url("../images/sprit.png") no-repeat 114px -76px;
    padding-right: 5px
}

.list .left .td {
    width: 100%;
    position: relative;
    margin: 5px 0
}
.list .left .td .btn-return{
	position: absolute;
	right:-55px;
	width: 40px;
	height: 25px;
	line-height: 25px;
	top: 0;
	border:2px solid #cb2a31;
    border-radius: 4px;
	background-color: transparent
}
.list .left .td .btn-return:hover{
	background-color: #cb2a31;
	color: #feffd6;
	transition: all 0.5s
}
.list .left .td .hide{
    opacity: 0;
}
.list .left .date {
    font-size: 13px;
    line-height: 20px;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.7)
}

.list .middle {
    width: 300px;
    margin: 0 70px;
    display: inline-block;
    text-align: center;
    vertical-align: top
}

.list .middle .share {
    background: transparent url("../images/sprit.png") no-repeat 84px -113px;
    padding-left: 30px;
    margin-bottom: 5px
}

.list .middle .comments {
    margin: 12px 0
}

.list .middle .comments_lists {
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.list .right {
    width: 225px;
    display: inline-block;
    text-align: left;
    vertical-align: top
}

.list .right .blog {
    background: transparent url("../images/sprit.png") no-repeat 0 -154px;
    padding-left: 40px
}

.list .right .address-link {
    display: inline-block;
    width: 100%;
    height: 20px;
    color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 5px 0
}

.list .right .lists {
    font-size: 16px
}

.nav {
    width: 100%;
    margin: 20px 0
}

.nav .btn {
    background: transparent url("../images/sprit.png") no-repeat 0 -200px;
    width: 80px;
    height: 30px;
    position: fixed;
    top: 45px;
    right: 50px
}

.nav .pop {
    width: 250px;
    height: 100%;
    background-color: rgba(203, 42, 49, 0.7);
    text-align: center
}

.nav .pop .cancel {
    background: transparent url("../images/sprit.png") no-repeat 0 -230px;
    width: 35px;
    height: 30px;
    margin-left: 190px;
    margin-top: 10px
}

.nav .pop .link {
    display: block;
    font-size: 17px;
    font-weight: bolder;
    line-height: 60px
}

.nav .hide {
    right: -250px;
    position: fixed;
    transition: right 0.3s linear;
    -moz-transition: right 0.3s linear;
    -webkit-transition: right 0.3s linear;
    -o-transition: right 0.3s linear
}

.nav .appear {
    right: 0;
    position: fixed;
    transition: right 0.3s linear;
    -moz-transition: right 0.3s linear;
    -webkit-transition: right 0.3s linear;
    -o-transition: right 0.3s linear
}

.info {
    width: 960px;
    text-align: center;
    padding-top: 56px
}

.info .head {
    border: 12px solid #cb2a31;
    border-radius: 50%;
    width: 90px;
    height: 90px
}

.info .head .avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%
}

.info .name {
    line-height: 60px;
    height: 60px;
    font-size: 30px
}

.info .small-circle {
    background: transparent url("../images/sprit.png") no-repeat;
    width: 55px;
    height: 15px
}

.info .user-info {
    width: 300px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bolder
}

.info .link {
    width: 300px;
    line-height: 45px;
    height: 45px
}

.info .link .img {
    width: 30px;
    height: 30px;
    margin: 0 6px
}

.info .link .front {
    background: transparent url("../images/sprit.png") no-repeat -195px -43px
}

.info .link .pic-1 {
    background: transparent url("../images/sprit.png") no-repeat 0 -43px
}

.info .link .pic-2 {
    background: transparent url("../images/sprit.png") no-repeat -35px -43px
}

.info .link .pic-3 {
    background: transparent url("../images/sprit.png") no-repeat -68px -43px
}

.info .link .pic-4 {
    background: transparent url("../images/sprit.png") no-repeat -100px -43px
}

.info .link .pic-5 {
    background: transparent url("../images/sprit.png") no-repeat -134px -43px
}

.info .link .end {
    background: transparent url("../images/sprit.png") no-repeat -213px -43px
}

.info .link a {
    display: inline-block;
    width: 30px;
    height: 30px
}

.fix-border {
    background-color: #feffd6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.fix-border .bd-1 {
    width: 100%;
    height: 20px;
    position: fixed;
    background-color: #cb2a31
}

.fix-border .bd-2 {
    width: 20px;
    height: 100%;
    position: fixed;
    background-color: #cb2a31;
    top: 0
}

.fix-border .up {
    top: 0
}

.fix-border .left {
    left: 0
}

.fix-border .right {
    right: 0
}

.fix-border .down {
    bottom: 0
}

.fix-border .footer {
    text-align: center;
    line-height: 20px;
    color: #fff
}
