@import "../components/commen.scss";
@import "../components/register.scss";
@import "../components/side_line.scss";
@import "../components/index/blog.scss";
@import "../components/index/right_line.scss";
body{
	background-color: $body_back_gray;
	min-width: 1200px;
}
.right_content{
	margin: 100px auto;
padding-left: 200px;
width: 860px;
}