/**
 * index.scss
 */

@import "../components/commen.scss";
@import "../components/register.scss";
@import "../components/side_line.scss";
@import "../components/index/blog.scss";
@import "../components/index/right_line.scss";
@import "./reset.scss";
@import "./post.scss";
body {
    background-color: $body_back_gray;
}

.right_content {
    margin: 100px auto;
    padding-left: 200px;
    width: 860px;
    overflow: hidden;
}
