/**
 * post.scss
 */

@import "../components/commen.scss";
@import "../components/register.scss";
@import "../components/side_line.scss";
@import "../components/post/blog_content.scss";
@import "../components/post/comment.scss";
.right_blog {
    margin-left: 200px;
}

.post_conte {
    width: 605px;
    margin: 100px auto;
    padding: 25px 76px 90px 119px;
    background-color: #fff;
}
