/***
 blog reset.scss
 authored by
***/
html{
	font-size: 12px;
}
body{
	font-family: "Mircosoft YaHei","sans-serif","Arial","youyuan";
}
body,button, form , textarea, input, p, h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	text-align: left;
	font-size: 1rem;
}
input,button,textarea{
	border: 0;
	outline: 0;
	box-sizing: content-box;
}
button{
	cursor: pointer;
}
a{
	color: #000;
	text-decoration: none;
}
textarea{
	display: block;
}