<div class="right_box_top">
    <img src="http://blog.muxistudio.com/static/img/tag.png" alt="">
    <h3 class="title">文章标签</h3>
    <div class="tag">
        {% for tag in article_tag %}
        <span>{{ tag.value }}</span>
        {% endfor %}
    </div>
</div>
<div class="right_box_bottom">
    <img src="http://blog.muxistudio.com/static/img/date.png" alt="">
    <h3 class="title">文章归档</h3>
    <div class="tag">
        {% for index in article_date %}
            <a href="http://blog.muxistudio.com/index/{{ index }}/" ><span>{{ index }}</span></a>
        {% endfor %}
    </div>
</div>
