<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height">
    <link rel="icon" type="image/png" href="/static/muxi_login.png">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <title>木犀X-注册</title>
</head>

<body>
    <div class="cover">
        <div class="login_box" id="register_box">
        <div class="head">Register</div>
            <form method="post">
                {{ form.hidden_tag() }}
                {{ form.username(placeholder="用户名") }}
                {{ form.email(placeholder="邮箱") }}
                {{ form.password(placeholder="密码")}}
                {{ form.passwordconfirm(placeholder="确认密码") }}
                {{ form.submit(class="btn",value="注册") }}
            </form>
        
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        </div>
    </div>

</body>

</html>

