{% extends "i_base.html" %} 
{% block content %}
    <div class="avatar-title">前端组</div>
    <div class="mdl-grid portfolio-max-width">
        {% for frontend in frontends %}
            <div class="mdl-cell mdl-card avatar-box">
                <div class="mdl-card__media avatar-card">
                    <div class="avatar">
                        <img class="avatar-img" src="{{ frontend.avatar_url }}">
                    </div>
                </div>
                <div class="username">{{ frontend.username }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="avatar-title">后台组</div>
    <div class="mdl-grid portfolio-max-width">
        {% for backend in backends %}
            <div class="mdl-cell mdl-card avatar-box">
                <div class="mdl-card__media avatar-card">
                    <div class="avatar">
                        <img class="avatar-img" src="{{ backend.avatar_url }}">
                    </div>
                </div>
                <div class="username">{{ backend.username }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="avatar-title">Android组</div>
    <div class="mdl-grid portfolio-max-width">
        {% for android in androids %}
            <div class="mdl-cell mdl-card avatar-box">
                <div class="mdl-card__media avatar-card">
                    <div class="avatar">
                        <img class="avatar-img" src="{{ android.avatar_url }}">
                    </div>
                </div>
                <div class="username">{{ android.username }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="avatar-title">设计组</div>
    <div class="mdl-grid portfolio-max-width">
        {% for design in designs %}
            <div class="mdl-cell mdl-card avatar-box">
                <div class="mdl-card__media avatar-card">
                    <div class="avatar">
                        <img class="avatar-img" src="{{ design.avatar_url }}">
                    </div>
                </div>
                <div class="username">{{ design.username }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="avatar-title">产品组</div>
    <div class="mdl-grid portfolio-max-width">
        {% for product in products %}
            <div class="mdl-cell mdl-card avatar-box">
                <div class="mdl-card__media avatar-card">
                    <div class="avatar">
                        <img class="avatar-img" src="{{ product.avatar_url }}">
                    </div>
                </div>
                <div class="username">{{ product.username }}</div>
            </div>
        {% endfor %}
    </div>
